{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "importOrder": [
    "^(?:_|clsx|fs|lodash/?.*|path)$",
    "^@?[\\w\\-]+",
    "^./[\\w\\-]+$",
    "__generated__",
    ".json$",
    ".s?css$"
  ],
  "importOrderSeparation": true
}
